<div class="card" *ngIf="character">
    <div class="card-header">
        {{ pageTitle + ': ' + character.name }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <img [src]="character.imageUrl"
                     [title]="character.name">
            </div>
            <div class="col-9">
                <ul class="list-unstyled">
                    <li>Name: {{ character.name }}</li>
                    <li>Height: {{ character.height }}</li>
                    <li>Mass: {{ character.mass }}</li>
                    <li>Hair color: {{ character.hair_color }}</li>
                    <li>Skin color: {{ character.skin_color }}</li>
                    <li>Eye color: {{ character.eye_color }}</li>
                    <li>Birth year: {{ character.birth_year }}</li>
                    <li>Gender: {{ character.gender }}</li>
                    <li>Strength: <app-bar [bar]="character.strength"></app-bar></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-secondary"
                (click)="onBack()">
            <i class="fa fa-chevron-left"></i> Back
        </button>
    </div>
</div>